
*, 
body{
  margin: 0px;
  padding: 0px;
}

#app {
  width: 1920px;
  height: 750px;
  margin: 0 auto;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsl(0, 91%, 23%);
  transition: 0.4s;
  padding: 3px;
  display: block;
  padding: 16px;
  text-decoration: none;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(0, 91%, 23%, 0.103);
  }
}

@media screen and (max-width: 700px){
  a{float: left;}
}



@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
